

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Selecciona los "dots" del carrusel y ajusta su margen superior para bajarlos */
.custom-carousel .carousel .control-dots {
  margin-top: 20px; /* Ajusta el valor para bajar los dots según necesites */
  bottom: 20px; /* Cambia la posición de los dots hacia abajo */
}

/* También puedes personalizar su tamaño y apariencia */
.custom-carousel .carousel .control-dots .dot {
  width: 15px;
  height: 15px;
  background-color: #999; /* Cambia el color de los dots */
}

.custom-carousel .carousel .control-dots .dot.selected {
  background-color: #333; /* Cambia el color del dot activo */
}

